@{
    ViewBag.Title = "Contact";
}





<p>Type 'cognine' to submit this form finally.</p>
<h1>submit event</h1>
<form action="javascript:alert( 'success!' );">
    <div>
        <input type="text">
        <input type="submit">
    </div>
</form>
<span></span>
@section scripts
    {
    <script>

        $("form").submit(function (event) {
            if ($("input:first").val() === "cognine") {
                $("span").text("submited successfully").show();
                return;
            }
            $("span").text("Not Valid").show();
            event.preventDefault();
        });

    </script>
    }