@{
    ViewBag.Title = "Home Page";
}

<style>
span{
    display:none;
}
</style>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    
</div>
<div class="row">
    <label>blur Event</label><br>
    <div class="col-md-4">
        <input type="text" class="testBox">
    </div>
</div>
<div class="row">
    <label>Focus Event</label><br>
    <div class="col-md-6">
        <label>Username</label><br>
        <input type="text" class="username">
        <span>Focus starts.. Write your name.</span>
    </div>
    <div>
        <label>password</label><br>
        <input type="text" class="password">
        <span>Focus starts.. Write your password.</span>
    </div>
</div>

<div class="row">
    <label>Focus</label><br>
    <div class="col-md-4">
        <input type="text" class="focusBlur" value="You can not type here">
    </div>
    
    <label>Select Event</label><br>
    <div class="col-md-6">
        <input type="text" class="selected" value="You can select here">
        <div id="selected"></div>
    </div>
</div>

<div class="row">
    <label>Change Event</label><br>
    <div class="col-md-4">
        <select id="country">
            <option>India</option>
            <option selected="selected">US</option>
            <option>Sri lanka</option>
            <option>UK</option>
        </select>
        <div id="selectEvent"></div>
    </div>
    <div class="col-md-4">
        <select id="Names" multiple="multiple">
            <option>suman</option>
            <option selected="selected">aditya</option>
            <option selected="selected">ganesh</option>
            <option>jayanth</option>
        </select>
        <div id="selectMulitple"></div>
    </div>
</div>


@section scripts{
<script>
    $(document).ready(function () {

        //Click event
        $("h1,h2,h3").click(function () {
            //this will hide the elements when we click on the elements which contains the h1,h2,h3 tags
            $(this).hide();

        });

        $("p").click(function () {
            //this will shows the pop up on clicking on the paragraph elements
            alert("the paragraph was clicked.");
        });

        //Blur event
        $(".textBox").blur(function () {
            alert("this taxt box has lost its focus");
        });

        //Focus Event
        $(".username").focus(function () {
            $(this).next("span").css("display", "inline").fadeOut(2000);
        });

        $(".password").focus(function () {
            $(this).next("span").css("display", "inline").fadeOut(2000);
        });

        $(".focusBlur").focus(function () {
            $(this).blur();
        });

        //select
        $(".selected").select(function () {
            $('#selected').text("Some Text is selected").show().fadeOut(2000);
        });

        //change
        $('#country').change(function () {
            document.getElementById('selectEvent').innerHTML = "You selected " + document.getElementById("country").value + " country";
        });

        $("#Names").change(function () {
            var str = "";
            $("#Names option:selected").each(function () {
                str += $(this).text() + " ";
            });
            $("#selectMulitple").text(str);
        }).change();

        //Submit


    });
    </script>
}
